@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,800;1,700&display=swap');
body {
        background-color: rgb(187, 175, 175);
}

h1 {
    color: black;
    font-size: 60px;
    font-family: 'Viga';
}

h3 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-align: left;
}


li {
    font-size: 20px;
}

#container {
    width: 700px;
    margin: auto;
    position: relative;
}

#buttons li {
    text-align: center;
    height: 40px;
    width: auto;
    border-width: 3px;
    border-style: solid;
    font-size: 30px;
    margin:1px;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    display: block;
    user-select: none;
}

#reset {
    /* width: 100px; */
    height: 60px;
    border-radius: 50px;
    font-family: 'Russo One';
    font-size: 25px;
    background-color: darkorange;
    border-color: rgb(00, 06, 02);
    border-width: 3px;
    cursor: pointer;
}

#score {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Lobster';
}

#buttons li.handshake {
    padding:11px 10px 3px 10px;
}

#buttons li:not(.handshake) {
    font-family: 'Exo';
    font-weight: 800;
    padding:7px 10px;
}

.yellow {color: yellow; border-color: black;}
.blue {color:blue; border-color: black;}
.white {color:white; border-color: black;}
.green {color: chartreuse; border-color: black;}
.red {color: red; border-color: black;}
.purple {color: rgb(233, 45, 233); border-color: black;}
.yellow li:hover:not(.clicked) {border-color: yellow;}
.blue li:hover:not(.clicked) {border: 3px solid blue;}
.white li:hover:not(.clicked) {border: 3px solid white;}
.green li:hover:not(.clicked) {border: 3px solid chartreuse;}
.red li:hover:not(.clicked) {border: 3px solid red;}
.purple li:hover:not(.clicked) {border: 3px solid purple;}
.yellow .clicked {background-color: yellow; color:black}
.blue .clicked {background-color: blue; color:black}
.white .clicked {background-color: white; color:black}
.green .clicked {background-color: chartreuse; color:black}
.red .clicked {background-color: red; color:black}
.purple .clicked {background-color: rgb(233, 45, 233); color:black}

#desc > th {
    color: black;
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Abril Fatface';
}


tr > th {
    text-align: left;
    padding-right: 13px;
    color: inherit;
    font-family: 'Patua One';
    font-size: 25px;
}

#footer {
    text-align: center;
    font-size: 10px;
}

#footer > a {
    color: black;
    text-decoration: none;
}

#footer > a:hover {
    color: blue;
    text-decoration: underline;
}