body {
        background-color: rgb(187, 175, 175);
}

h1, h2 {
    color: white;
}

h3 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-align: left;
}


li {
    font-size: 20px;
}

#container {
    width: 700px;
    margin: auto;
    position: relative;
}

#buttons li {
    text-align: center;
    height: 40px;
    width: auto;
    border-width: 3px;
    border-style: solid;
    font-size: 30px;
    
    margin:1px;
    border-radius: 10px;
    cursor: pointer;
    /* display: inline-block; */
    float: left;
    display: block;
}

#reset {
    background: rgb(70, 61, 61);
}

#buttons li.handshake {
    padding:11px 10px 3px 10px;
}

#buttons li:not(.handshake) {
    font-family: 'impact';
    padding:7px 10px;
}

.yellow {color: yellow; border-color: black;}
.blue {color:blue; border-color: black;}
.white {color:white; border-color: black;}
.green {color: chartreuse; border-color: black;}
.red {color: red; border-color: black;}
.purple {color: rgb(233, 45, 233); border-color: black;}
.yellow li:hover:not(.clicked) {border-color: yellow;}
.blue li:hover:not(.clicked) {border: 3px solid blue;}
.white li:hover:not(.clicked) {border: 3px solid white;}
.green li:hover:not(.clicked) {border: 3px solid chartreuse;}
.red li:hover:not(.clicked) {border: 3px solid red;}
.purple li:hover:not(.clicked) {border: 3px solid purple;}
.yellow .clicked {background-color: yellow; color:black}
.blue .clicked {background-color: blue; color:black}
.white .clicked {background-color: white; color:black}
.green .clicked {background-color: chartreuse; color:black}
.red .clicked {background-color: red; color:black}
.purple .clicked {background-color: rgb(233, 45, 233); color:black}


